@model IEnumerable<ContosoUniversity.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Department Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FullName)
            </td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentID" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DepartmentID" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentID" class="btn btn-secondary">Delete</a>
                </td>
            </div>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
