@page
@model ScriptureJournal.Pages.Entries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Scripture Entries</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-success">Create New</a>
</p>

<form>
    <p>
        <div class="form-group">
            <label class="form-label mt-4">Select Date</label>
            <select asp-for="EntryDate" asp-items="Model.DateAdded" class="form-select">
                <option value="">All</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Select Book</label>
            <select asp-for="ScriptureBook" asp-items="Model.Book" class="form-select">
                <option value="">All</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Search Notes</label>
            <input type="text" asp-for="SearchString" class="form-control" />
            <input type="submit" value="Filter" class="btn btn-outline-success" />
        </div>
    </p>
</form>

<table class="table table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entry[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-secondary">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-secondary">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-secondary">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
